
.vs/PrologMobileApi/config/applicationhost.config
.vs/PrologMobileApi/v16/.suo
PrologMobileApi/bin/Debug/netcoreapp2.1/PrologMobileApi.deps.json
PrologMobileApi/bin/Debug/netcoreapp2.1/PrologMobileApi.dll
PrologMobileApi/bin/Debug/netcoreapp2.1/PrologMobileApi.pdb
PrologMobileApi/obj/Debug/netcoreapp2.1/PrologMobileApi.assets.cache
PrologMobileApi/obj/Debug/netcoreapp2.1/PrologMobileApi.csproj.CoreCompileInputs.cache
PrologMobileApi/obj/Debug/netcoreapp2.1/PrologMobileApi.csproj.FileListAbsolute.txt
PrologMobileApi/obj/Debug/netcoreapp2.1/PrologMobileApi.csprojAssemblyReference.cache
PrologMobileApi/obj/Debug/netcoreapp2.1/PrologMobileApi.dll
PrologMobileApi/obj/Debug/netcoreapp2.1/PrologMobileApi.pdb
PrologMobileApi/obj/project.assets.json
PrologMobileApi/obj/project.nuget.cache
PrologMobileApi/obj/PrologMobileApi.csproj.nuget.dgspec.json
PrologMobileApi/obj/PrologMobileApi.csproj.nuget.g.props
PrologMobileApi/obj/PrologMobileApi.csproj.nuget.g.targets
*.json
.vs/PrologMobileApi/v16/.suo
PrologMobileApi/bin/Debug/netcoreapp2.1/PrologMobileApi.deps.json
PrologMobileApi/bin/Debug/netcoreapp2.1/PrologMobileApi.dll
PrologMobileApi/bin/Debug/netcoreapp2.1/PrologMobileApi.pdb
PrologMobileApi/obj/Debug/netcoreapp2.1/PrologMobileApi.assets.cache
PrologMobileApi/obj/Debug/netcoreapp2.1/PrologMobileApi.csproj.CoreCompileInputs.cache
PrologMobileApi/obj/Debug/netcoreapp2.1/PrologMobileApi.csproj.FileListAbsolute.txt
PrologMobileApi/obj/Debug/netcoreapp2.1/PrologMobileApi.csprojAssemblyReference.cache
PrologMobileApi/obj/Debug/netcoreapp2.1/PrologMobileApi.dll
PrologMobileApi/obj/Debug/netcoreapp2.1/PrologMobileApi.pdb
PrologMobileApi/obj/project.assets.json
PrologMobileApi/obj/project.nuget.cache
PrologMobileApi/obj/PrologMobileApi.csproj.nuget.dgspec.json
PrologMobileApi/obj/PrologMobileApi.csproj.nuget.g.props
PrologMobileApi/obj/PrologMobileApi.csproj.nuget.g.targets
.vs/PrologMobileApi/v16/.suo
*.v2
.vs/PrologMobileApi/v16/.suo
PrologMobileApi/bin/Debug/netcoreapp2.1/PrologMobileApi.dll
PrologMobileApi/bin/Debug/netcoreapp2.1/PrologMobileApi.pdb
PrologMobileApi/bin/Debug/netcoreapp2.1/Properties/launchSettings.json
PrologMobileApi/obj/Debug/netcoreapp2.1/PrologMobileApi.csproj.CoreCompileInputs.cache
PrologMobileApi/obj/Debug/netcoreapp2.1/PrologMobileApi.csprojAssemblyReference.cache
PrologMobileApi/obj/Debug/netcoreapp2.1/PrologMobileApi.dll
PrologMobileApi/obj/Debug/netcoreapp2.1/PrologMobileApi.pdb
.vs/PrologMobileApi/v16/.suo
PrologMobileApi/bin/Debug/netcoreapp2.1/PrologMobileApi.dll
PrologMobileApi/bin/Debug/netcoreapp2.1/PrologMobileApi.pdb
PrologMobileApi/bin/Debug/netcoreapp2.1/Properties/launchSettings.json
PrologMobileApi/obj/Debug/netcoreapp2.1/PrologMobileApi.csproj.CoreCompileInputs.cache
PrologMobileApi/obj/Debug/netcoreapp2.1/PrologMobileApi.csprojAssemblyReference.cache
PrologMobileApi/obj/Debug/netcoreapp2.1/PrologMobileApi.dll
PrologMobileApi/obj/Debug/netcoreapp2.1/PrologMobileApi.pdb
PrologMobileTests/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
PrologMobileTests/obj/Debug/netcoreapp3.1/PrologMobileTests.AssemblyInfo.cs
PrologMobileTests/obj/Debug/netcoreapp3.1/PrologMobileTests.AssemblyInfoInputs.cache
PrologMobileTests/obj/Debug/netcoreapp3.1/PrologMobileTests.assets.cache
PrologMobileTests/obj/Debug/netcoreapp3.1/PrologMobileTests.csprojAssemblyReference.cache
PrologMobileTests/obj/project.nuget.cache
PrologMobileTests/obj/PrologMobileTests.csproj.nuget.g.props
PrologMobileTests/obj/PrologMobileTests.csproj.nuget.g.targets
*.json
PrologMobileApi/bin/Debug/netcoreapp2.1/appsettings.Development.json
PrologMobileApi/bin/Debug/netcoreapp2.1/appsettings.json
PrologMobileApi/bin/Debug/netcoreapp2.1/PrologMobileApi.deps.json
PrologMobileApi/bin/Debug/netcoreapp2.1/PrologMobileApi.dll
PrologMobileApi/bin/Debug/netcoreapp2.1/PrologMobileApi.pdb
PrologMobileApi/bin/Debug/netcoreapp2.1/PrologMobileApi.runtimeconfig.dev.json
PrologMobileApi/bin/Debug/netcoreapp2.1/PrologMobileApi.runtimeconfig.json
PrologMobileApi/bin/Debug/netcoreapp2.1/Properties/launchSettings.json
PrologMobileApi/obj/Debug/netcoreapp2.1/.NETCoreApp,Version=v2.1.AssemblyAttributes.cs
PrologMobileApi/obj/Debug/netcoreapp2.1/PrologMobileApi.AssemblyInfo.cs
PrologMobileApi/obj/Debug/netcoreapp2.1/PrologMobileApi.AssemblyInfoInputs.cache
PrologMobileApi/obj/Debug/netcoreapp2.1/PrologMobileApi.assets.cache
PrologMobileApi/obj/Debug/netcoreapp2.1/PrologMobileApi.csproj.CoreCompileInputs.cache
PrologMobileApi/obj/Debug/netcoreapp2.1/PrologMobileApi.csproj.FileListAbsolute.txt
PrologMobileApi/obj/Debug/netcoreapp2.1/PrologMobileApi.csprojAssemblyReference.cache
PrologMobileApi/obj/Debug/netcoreapp2.1/PrologMobileApi.dll
PrologMobileApi/obj/Debug/netcoreapp2.1/PrologMobileApi.genruntimeconfig.cache
PrologMobileApi/obj/Debug/netcoreapp2.1/PrologMobileApi.pdb
PrologMobileApi/obj/Debug/netcoreapp2.1/PrologMobileApi.RazorAssemblyInfo.cache
PrologMobileApi/obj/Debug/netcoreapp2.1/PrologMobileApi.RazorAssemblyInfo.cs
PrologMobileApi/obj/Debug/netcoreapp2.1/PrologMobileApi.RazorTargetAssemblyInfo.cache
PrologMobileApi/obj/project.assets.json
PrologMobileApi/obj/project.nuget.cache
PrologMobileApi/obj/PrologMobileApi.csproj.nuget.dgspec.json
PrologMobileApi/obj/PrologMobileApi.csproj.nuget.g.props
PrologMobileApi/obj/PrologMobileApi.csproj.nuget.g.targets
