
.vs/PrologMobileApi/config/applicationhost.config
.vs/PrologMobileApi/v16/.suo
PrologMobileApi/bin/Debug/netcoreapp2.1/PrologMobileApi.deps.json
PrologMobileApi/bin/Debug/netcoreapp2.1/PrologMobileApi.dll
PrologMobileApi/bin/Debug/netcoreapp2.1/PrologMobileApi.pdb
PrologMobileApi/obj/Debug/netcoreapp2.1/PrologMobileApi.assets.cache
PrologMobileApi/obj/Debug/netcoreapp2.1/PrologMobileApi.csproj.CoreCompileInputs.cache
PrologMobileApi/obj/Debug/netcoreapp2.1/PrologMobileApi.csproj.FileListAbsolute.txt
PrologMobileApi/obj/Debug/netcoreapp2.1/PrologMobileApi.csprojAssemblyReference.cache
PrologMobileApi/obj/Debug/netcoreapp2.1/PrologMobileApi.dll
PrologMobileApi/obj/Debug/netcoreapp2.1/PrologMobileApi.pdb
PrologMobileApi/obj/project.assets.json
PrologMobileApi/obj/project.nuget.cache
PrologMobileApi/obj/PrologMobileApi.csproj.nuget.dgspec.json
PrologMobileApi/obj/PrologMobileApi.csproj.nuget.g.props
PrologMobileApi/obj/PrologMobileApi.csproj.nuget.g.targets
*.json
.vs/PrologMobileApi/v16/.suo
PrologMobileApi/bin/Debug/netcoreapp2.1/PrologMobileApi.deps.json
PrologMobileApi/bin/Debug/netcoreapp2.1/PrologMobileApi.dll
PrologMobileApi/bin/Debug/netcoreapp2.1/PrologMobileApi.pdb
PrologMobileApi/obj/Debug/netcoreapp2.1/PrologMobileApi.assets.cache
PrologMobileApi/obj/Debug/netcoreapp2.1/PrologMobileApi.csproj.CoreCompileInputs.cache
PrologMobileApi/obj/Debug/netcoreapp2.1/PrologMobileApi.csproj.FileListAbsolute.txt
PrologMobileApi/obj/Debug/netcoreapp2.1/PrologMobileApi.csprojAssemblyReference.cache
PrologMobileApi/obj/Debug/netcoreapp2.1/PrologMobileApi.dll
PrologMobileApi/obj/Debug/netcoreapp2.1/PrologMobileApi.pdb
PrologMobileApi/obj/project.assets.json
PrologMobileApi/obj/project.nuget.cache
PrologMobileApi/obj/PrologMobileApi.csproj.nuget.dgspec.json
PrologMobileApi/obj/PrologMobileApi.csproj.nuget.g.props
PrologMobileApi/obj/PrologMobileApi.csproj.nuget.g.targets
.vs/PrologMobileApi/v16/.suo
